snippet tssite "Site for Config"
- site:
	name: $1 
	folder: $1
	urls:
		- mon-cm.clients.squiz.net/$2
		- intranet.monash.edu.au/$2
endsnippet
snippet tssiteu "Site for Config"
- site:
	name: $1 
	folder: $2
	urls:
		- mon-cm.clients.squiz.net/$3
		- intranet.monash.edu.au/$3
endsnippet
