imap vv <Esc>
let mapleader = ","
let g:mapleader = ","
map <Leader>e :action SurroundWithEmmet<CR>
map <Leader>w :w!<cr>
map <Leader>q :q!<cr>
map <Leader>t :action GotoFile<CR>
imap zzl <Esc>A
imap zzk <Esc>A<cr>
imap zzj <Esc>}A<cr>
nmap ;u :u<cr>
imap zzu <Esc>:u<cr>

